/.php-cs-fixer.cache

/src/admin/templates/cache/*
!/src/admin/templates/cache/.htaccess
!/src/admin/templates/cache/index.html

/src/data/*
!/src/data/.htaccess
!/src/data/index.html

/src/serverlib/config.inc.php

/src/temp/*
!/src/temp/cache/dummy
!/src/temp/session/dummy

/src/templates/*/cache/*
!/src/templates/*/cache/.htaccess
!/src/templates/*/cache/index.html

/vendor/

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
